<!DOCTYPE html>
<html lang="en">
  <!-- https://qiita.com/narutaro/items/2819ce79eb82a87357eb -->
  <head>
    <meta charset="utf-8" />
    <title>MQTT Plotter for ROBOT</title>
    <!-- Bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div id="main">
        <h1>{{title}}</h1>

        <div class="row">
          <div class="col-lg-6">
            <div class="input-group mb-3">
              <span class="input-group-text">wss://</span>
              <input
                type="text"
                class="form-control"
                placeholder="Server"
                aria-label="Server"
                v-model="mqtt_server"
              />
              <span class="input-group-text">:</span>
              <input
                type="number"
                class="form-control"
                placeholder="Port"
                aria-label="Port"
                v-model="mqtt_port"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="topic">Topic</span>
              <input
                type="text"
                class="form-control"
                placeholder="topic"
                aria-label="topic"
                aria-describedby="topic"
                v-model="topic"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="max_length">max length</span>
              <input
                type="number"
                class="form-control"
                placeholder="max_length"
                aria-label="max_length"
                aria-describedby="max_length"
                v-model="max_length"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="input-group mb-3" id="palette">
              <span class="input-group-text">Color Palette</span>
              <input
                type="color"
                class="form-control form-control-color"
                v-model="color_palette[0]"
              />
              <input
                type="color"
                class="form-control form-control-color"
                v-model="color_palette[1]"
              />
              <input
                type="color"
                class="form-control form-control-color"
                v-model="color_palette[2]"
              />
              <input
                type="color"
                class="form-control form-control-color"
                v-model="color_palette[3]"
              />
              <input
                type="color"
                class="form-control form-control-color"
                v-model="color_palette[4]"
              />
              <input
                type="color"
                class="form-control form-control-color"
                v-model="color_palette[5]"
              />
              <input
                type="color"
                class="form-control form-control-color"
                v-model="color_palette[6]"
              />
              <input
                type="color"
                class="form-control form-control-color"
                v-model="color_palette[7]"
              />
            </div>
          </div>
        </div>

        <div class="form-check form-switch form-control-lg">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexSwitchCheckDefault"
            v-model="is_active"
            onchange="switchClient()"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault">
            {{state}}
          </label>
        </div>

        <div class="bg-light">
          Message:
          <p>{{message}}</p>
        </div>

        <div>
          <div class="row">
            <div class="col-6">
              <canvas id="acc" width="400" height="200"></canvas>
            </div>
            <div class="col-6">
              <canvas id="gyro" width="400" height="200"></canvas>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <canvas id="servo" width="400" height="200"></canvas>
            </div>
            <div class="col-6">
              <canvas id="mic" width="400" height="200"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
    <script src="js/util.js"></script>
    <script>
      const MainApp = {
        data() {
          return {
            title: 'MQTT Plotter for ROBOT',
            mqtt_server: 'test.mosquitto.org',
            mqtt_port: 8081,
            message: '',
            topic: 'floor1/room1',
            counter: 0,
            is_active: false,
            state: 'Disconnected',
            color_palette: [
              '#0173b2',
              '#de8f05',
              '#029e73',
              '#d55e00',
              '#cc78bc',
              '#ca9161',
              '#fbafe4',
              '#949494',
            ],
            max_length: 20,
          }
        },
        mounted: function () {
          // get last values
          this.topic = localStorage.getItem('topic')
          this.mqtt_server = localStorage.getItem('mqtt_server')
          this.mqtt_port = parseInt(localStorage.getItem('mqtt_port'), 10)
        },
      }

      let main_app = Vue.createApp(MainApp).mount('#main')

      //   let pub = mqtt.connect('wss://test.mosquitto.org:8081')

      let client
      function switchClient() {
        console.log(`Switch state: ${main_app.is_active}`)
        if (main_app.is_active) {
          main_app.state = 'Connecting ...'
        } else {
          main_app.state = 'Disconnected'
          client.end()
          return
        }
        // https://developer.mozilla.org/ja/docs/Learn/JavaScript/Client-side_web_APIs/Client-side_storage
        localStorage.setItem('topic', main_app.topic)
        localStorage.setItem('mqtt_server', main_app.mqtt_server)
        localStorage.setItem('mqtt_port', main_app.mqtt_port)

        let url = `wss://${main_app.mqtt_server}:${main_app.mqtt_port}`
        client = mqtt.connect(url)
        console.log(`try to connect with ${url}`)
        client.subscribe(main_app.topic, function (err) {
          if (err) {
            console.log(err)
            main_app.state = err
            main_app.is_active = false
          }
        })

        client.on('connect', function () {
          main_app.state = 'Subscribing'
          console.log(`start subscribing ${main_app.topic}`)
        })

        let count = 0

        client.on('message', function (topic, message) {
          // message is Buffer
          console.log('client: ' + message.toString())
          main_app.message = message.toString()

          try {
            // https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/JSON/parse
            const obj = JSON.parse(message)

            if (obj['acc']) {
              addValue(acc_chart, obj['acc'], count)
            }

            if (obj['gyro']) {
              addValue(gyro_chart, obj['gyro'], count)
            }

            if (obj['servo']) {
              addValue(servo_chart, obj['servo'], count)
            }

            if (obj['mic']) {
              v = { mic: obj['mic'] }
              addValue(mic_chart, v, count)
            }

            count += 1
          } catch (error) {
            console.error(error)
            console.log('fail to parse as json')
            main_app.message += '\n\r fail to parse as json'
          }
        })
      }
    </script>

    <script>
      let labels = [1, 2, 3, 4, 5, 6, 7]
      let data = {
        labels: labels,
        datasets: [
          {
            label: 'dummy',
            data: [65, 59, 80, 81, 56, 55, 40],
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0,
          },
        ],
      }
      let config = {
        type: 'line',
        data: data,
        // Configuration options go here
        options: {
          plugins: {
            title: {
              display: true,
              text: 'Custom Chart Title',
            },
          },
          animation: {
            duration: 0, // general animation time
          },
          hover: {
            animationDuration: 0, // duration of animations when hovering an item
          },
          responsiveAnimationDuration: 0, // animation duration after a resize
          elements: {
            line: {
              tension: 0, // disables bezier curves
            },
          },
        },
      }

      // sample json data that you receive
      // {"acc":{"x":0.986816,"y":0.04541,"z":0.01709,"n":0.988009},"gyro":{"x":-2.13623,"y":0.671387,"z":0.244141},"servo":{"h":90,"v":90}}

      // deep copy with json
      // https://qiita.com/yonedaco/items/cfb5fc4ef7e46e886cb1
      let acc_conf = JSON.parse(JSON.stringify(config))
      acc_conf.options.plugins.title.text = 'acc [g]'
      acc_conf.options.scales = { y: { min: -2, max: 2 } }
      console.log(acc_conf)
      let acc_chart = new Chart(
        document.getElementById('acc').getContext('2d'),
        JSON.parse(JSON.stringify(acc_conf)),
      )

      let gyro_conf = JSON.parse(JSON.stringify(config))
      gyro_conf.options.plugins.title.text = 'gyro'
      gyro_conf.options.scales = { y: { min: -4, max: 4 } }
      let gyro_chart = new Chart(
        document.getElementById('gyro').getContext('2d'),
        JSON.parse(JSON.stringify(gyro_conf)),
      )

      let servo_conf = JSON.parse(JSON.stringify(config))
      servo_conf.options.plugins.title.text = 'servo [deg]'
      servo_conf.options.scales = { y: { min: 0, max: 180 } }
      let servo_chart = new Chart(
        document.getElementById('servo').getContext('2d'),
        JSON.parse(JSON.stringify(servo_conf)),
      )

      let mic_conf = JSON.parse(JSON.stringify(config))
      mic_conf.options.plugins.title.text = 'mic'
      mic_conf.options.scales = { y: { min: 0, max: 2048 } }
      let mic_chart = new Chart(
        document.getElementById('mic').getContext('2d'),
        JSON.parse(JSON.stringify(mic_conf)),
      )
    </script>
  </body>
</html>
